#header {
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    z-index: 20;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;

    .logo {
        display: inline-block;

        img {
            width: 160px;

            @include desktop {
                width: 200px;
            }
        }
    }

    .env {
        font-size: 34px;
        float: right;
    }
}
