@font-face {
  font-family: 'svnVogue';
  src: url("./fonts/svnVogue/SVN-Vogue.eot");
  src: url("./fonts/svnVogue/SVN-Vogue.eot?#iefix") format("embedded-opentype"), url("./fonts/svnVogue/SVN-Vogue.woff2") format("woff2"), url("./fonts/svnVogue/SVN-Vogue.woff") format("woff"), url("./fonts/svnVogue/SVN-Vogue.ttf") format("truetype"), url("./fonts/svnVogue/SVN-Vogue.svg#SVN-Vogue") format("svg");
  font-weight: normal;
  font-style: normal; }

* {
  font-family: 'svnVogue';
  color: #030333;
  font-size: 15px; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

html,
body {
  width: 100%;
  height: 100%; }

ul,
ol {
  list-style: none;
  padding-left: 0; }

a {
  outline: none;
  box-shadow: none; }
  a:focus, a:focus-within {
    box-shadow: none; }

input,
textarea {
  outline: none; }

img {
  max-width: 100%; }

.flo-right {
  float: right !important; }

.box-center {
  text-align: center; }

button {
  border: none; }
  button:hover, button:focus {
    outline: none; }

.btnBlue {
  display: inline-block;
  border-radius: 2px;
  background: #0f75b2;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  padding: 0 20px;
  font-size: 15px; }
  .btnBlue:hover {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    box-shadow: 0 2px 10px #0f75b2; }

.btnGrey {
  display: inline-block;
  border-radius: 2px;
  background: #999;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  padding: 0 20px;
  font-size: 15px; }
  .btnGrey:hover {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    box-shadow: 0 2px 10px #999; }

.boxLoading {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99999; }
  .boxLoading .loading {
    position: absolute;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #0f75b2;
    width: 60px;
    height: 60px;
    left: 50%;
    top: 50%;
    animation: spin 2s linear infinite;
    margin-left: -30px;
    margin-top: -30px; }

#header {
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  z-index: 20;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px; }
  #header .logo {
    display: inline-block; }
    #header .logo img {
      width: 160px; }
      @media screen and (min-width: 992px) {
        #header .logo img {
          width: 200px; } }
  #header .env {
    font-size: 34px;
    float: right; }

@keyframes arrow-movement-prev {
  0% {
    margin-left: 0; }
  50% {
    margin-left: -3px; }
  100% {
    margin-left: 0; } }

@keyframes arrow-movement-next {
  0% {
    margin-right: 0; }
  50% {
    margin-right: -3px; }
  100% {
    margin-left: 0; } }

#wrapper {
  padding-bottom: 40px;
  position: relative; }

.each-box {
  border: 1px solid #ccc;
  border-radius: 2px;
  height: 250px;
  position: relative;
  margin-bottom: 30px; }
  .each-box .top {
    padding: 10px;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
    .each-box .top h3 {
      display: flex;
      flex-grow: 1;
      justify-content: flex-start;
      font-size: 16px;
      margin: 0;
      line-height: 22px; }
      .each-box .top h3 strong {
        font-size: 22px;
        margin-left: 10px;
        color: #5dad46; }
      .each-box .top h3 + span {
        margin-right: 25px; }
    .each-box .top span {
      color: #0f75b2;
      margin-top: 3px; }
      .each-box .top span:hover {
        cursor: pointer;
        color: #5dad46; }
  .each-box .content {
    padding: 20px 10px; }
    .each-box .content .eachRow {
      display: block;
      width: 100%;
      margin-bottom: 7px; }
      .each-box .content .eachRow span {
        padding-right: 10px;
        display: inline-block;
        width: 60px;
        color: #999;
        text-align: right;
        vertical-align: top; }
      .each-box .content .eachRow .boxVal {
        width: calc(100% - 60px);
        display: inline-block;
        vertical-align: top;
        position: relative; }
        .each-box .content .eachRow .boxVal .err {
          color: #ff0000;
          margin: 5px 0 0;
          position: absolute;
          right: 5px;
          top: 3px;
          font-size: 12px; }
      .each-box .content .eachRow input,
      .each-box .content .eachRow textarea {
        border: 1px solid #ccc;
        border-radius: 2px;
        height: 32px;
        overflow: hidden;
        padding: 5px 7px;
        width: 100%; }
        .each-box .content .eachRow input::placeholder,
        .each-box .content .eachRow textarea::placeholder {
          font-size: 14px; }
      .each-box .content .eachRow textarea {
        height: 55px;
        resize: none;
        font-size: 14px; }
      .each-box .content .eachRow .nameBranchShow {
        font-size: 18px;
        line-height: 20px;
        height: 20px;
        width: 100%;
        padding: 0;
        display: inline-block;
        overflow: hidden;
        color: #030333;
        margin: 0; }
      .each-box .content .eachRow .desBranchShow {
        font-size: 13px;
        color: #555;
        padding: 0;
        height: 55px;
        width: 100%;
        overflow: hidden;
        margin: 0; }
    .each-box .content .actForm .btnGrey {
      margin-left: 15px; }
    .each-box .content .branchDes span {
      vertical-align: top; }
    .each-box .content .btnBlue {
      margin-left: 60px; }
    .each-box .content .dateCreated {
      color: #999;
      font-size: 12px;
      font-style: italic;
      text-align: right;
      margin: 20px 0 0; }
      .each-box .content .dateCreated span {
        font-size: 13px; }
  .each-box .botFoot {
    padding: 7px 10px;
    border-top: 1px solid rgba(204, 204, 204, 0.2);
    position: absolute;
    bottom: 0;
    width: 100%; }
    .each-box .botFoot p {
      margin: 0; }
      .each-box .botFoot p img {
        float: right; }
    .each-box .botFoot label {
      color: #ccc;
      margin-bottom: 0; }
    .each-box .botFoot a {
      color: #0f75b2; }
      .each-box .botFoot a:hover {
        text-decoration: none;
        color: #5dad46; }
